<% provide :title, t(".about") %>
<h1><%= t ".about" %></h1>
<p>
 <%= t ".rubyonrailstutorrial"%>
  <%= link_to t(".rubyonrailstutorrial"), "http://www.railstutorial.org" %>
 <%= t ".book"%>
  <%= link_to t(".book"), "http://www.railstutorial.org/book" %>
<%= t ".screencastseries" %>
  <%= link_to t(".screencastseries"), "http://screencasts.railstutorial.org/" %>
  <%= t ".rubyonrails"%>
  <%= link_to t(".rubyonrails"), "http://rubyonrails.org/" %>.
</p>
